.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  margin: 0;
  padding: 0;
}

/* ========== Navbar section ========== */
.navbar {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.navbar .wrapper {
  height: 108px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__sitename {
  font-size: 36px;
  color: #489846;
}

.navbar__links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar__links li {
  border-radius: 8px;
  font-size: 18px;
  margin-left: 12px;
  transition: background-color 0.5s;
}

.navbar__links li.active,
.navbar__links li:hover {
  background-color: #ff7286;
}

.navbar__links li.active a,
.navbar__links li:hover a {
  color: white;
}

.navbar__links li a {
  padding: 12px 24px;
  display: inline-block;
  color: #484848;
  text-decoration: none;
}

/* ========== banner section ========== */
.banner {
  background: url(../img/2.png) center/cover no-repeat;
  height: 320px;
  position: relative;
}

.banner::after {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.banner__title {
  margin: 0;
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  z-index: 2;
}

/* ========== siteinfo section ========== */
.siteinfo {
  text-align: center;
}

.title {
  color: #484848;
  font-size: 36px;
  border-left: 15px solid #a3dea2;
  display: inline-block;
  padding-left: 15px;
  margin: 80px 0 40px 0;
}

.siteinfo__description {
  line-height: 2em;
  color: #484848;
  margin-bottom: 60px;
}

.siteinfo__buttons {
  margin-bottom: 20px;
}

.siteinfo__buttons-order,
.siteinfo__buttons-query {
  padding: 25px 40px;
  color: #3e613d;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s;
}

.siteinfo__buttons-order:hover,
.siteinfo__buttons-query:hover {
  transform: scale(1.1);
}

.siteinfo__buttons-order {
  background-color: #a8e8e1;
}

.siteinfo__buttons-query {
  background-color: #f9f9b5;
  margin-left: 15px;
}

/* ========== menu section ========== */
.menu {
  text-align: center;
}

.menu__images {
  display: flex;
}

.menu__images div {
  width: 25%;
}

.menu__images div img {
  width: 100%;
}

/* ========== reviews section ========== */
.reviews {
  text-align: center;
}

.reviews h2.title {
  margin-bottom: 100px;
}

.review img {
  margin-top: -50px;
}

.reviews__flex {
  display: flex;
  color: #484848;
}

.reviews__flex .review {
  width: 100%;
  margin: 0 15px;
  border: solid 1px #c7e5ec;
  border-radius: 5px;
  box-shadow: -1.4px -1.4px 4px 0 rgba(0, 0, 0, 0.15);
}

.review__username {
  margin-top: 15px;
}

.review__description {
  margin-top: 25px;
  font-size: 16px;
  line-height: 2em;
}

/* ========== location section ========== */

.location {
  text-align: center;
}

/* ========== footer section ========== */
footer {
  margin-top: 48px;
}

.footer__top {
  background-color: #e8efee;
  color: #484848;
  padding: 35px 0;
  font-size: 14px;
}

.footer__top-flex {
  display: flex;
  justify-content: space-between;
}

.footer__top-site-name {
  font-size: 36px;
  color: #489846;

}

.footer__top-shofinfo {
  margin-right: 20px;
}

.footer__top-shopinfo div+div {
  margin-top: 15px;
}

.footer__bottom {
  color: white;
  background-color: #35564b;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
}

/* ========== faq section ========== */

section.faq {
  text-align: center;
  margin-bottom: 40px;
}

.faq__items {
  max-width: 768px;
  margin: auto;
}

.faq__item {
  border-bottom: 1px solid #a6e2c0;
  margin-bottom: 30px;
}

.faq__question {
  display: flex;
  align-items: center;
  letter-spacing: 0.16px;
  margin-bottom: 24px;
  cursor: pointer;
}

.faq__question__mark {
  text-align: left;
  color: #70b282;
  font-size: 24px;
}

.faq__question__descrition {
  font-size: 18px;
  color: #000000;
  margin-left: 16px;
  text-align: left;
}

.faq__answer {
  padding: 0 37px 0 70px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.14px;
  margin-bottom: 45px;
}

.faq__answer--toggle {
  display: none;
}
@media (max-width: 768px) {
  .navbar {
    padding: 0;
  }

  .navbar .wrapper {
    height: 130px;
    flex-direction: column;
    padding: 0;
  }

  .navbar__sitename {
    margin-top: 18px;
  }

  .navbar__links {
    width: 100%;
  }

  .navbar__links li {
    flex: 1;
    border-radius: 0;
    margin-left: 0;
    text-align: center;
  }

  .menu__images {
    flex-direction: column;
    flex-flow: wrap;
  }

  .menu__images div {
    width: 50%;
  }

  .reviews__flex {
    flex-direction: column;
  }

  .reviews__flex .review {
    width: 100%;
    margin: 40px 0;
  }
}

@media (max-width: 575px) {
  .siteinfo__buttons-query {
    margin-left: 0;
    margin-top: 12px;
  }

  .footer__top-flex {
    flex-direction: column-reverse;
  }

  .footer__top-shopfinfo {
    margin-right: 0;
    margin-top: 20px;
  }
  .footer__bottom{
    padding: 15px 15px;
  }
}
