body {
  background-color: rgba(0, 0, 0, 0.3);
}

.wrapper {
  max-width: 645px;
  background-color: white;
  margin: 10% auto;
  box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
  border-top: 8px solid #fad312;
  padding: 64px 32px;
}

.form__title {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

.form__desc {
  margin-top: 35px;
  font-size: 14px;
  line-height: 2em ;
}

.form__notice {
  font-size: 16px;
  color: #e74149;
  margin-top: 20px;
}

.form__block-required .form__block__title::after {
  content: '*';
  color: #e74149;
  margin-left: 8px;
}

.form__block {
  margin-top: 35px;
}

.form__block__title {
  font-size: 20px;
}

.form__block__desc {
  font-size: 14px;
  margin-top: 8px;
}

.form__block__input {
  margin-top: 16px;
}

.form__block__input input[type="text"] {
  border: solid 1px #d0d0d0;
  font-size: 16px;
  padding: 3px 12px;
}

.form__block__input label {
  display: block;
  margin-top: 12px;
}

.input__empty{
  margin-top: 5px;
  color:#e74149;
}

.input__empty-hide{
  visibility: hidden;
}

.form__submit {
  background-color: #fad312;
  color: black;
  padding: 12px 32px;
  font-size: 15px;
  margin-top: 48px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  background-color: black;
  color: #999999;
  font-size: 13px;
  padding: 24px 12px;
  text-align: center;
}